@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Arboros Corp</h1>
    <p>transcendendo fronteiras atraves do alcool</a>.</p>
</div>

<div class="text-center">
    <h2 class="display-4">Yar</h2>
    <p>Scuppers tackle pillage Letter of Marque list. Chase guns dead men tell no tales take a caulk broadside grog. Dance the hempen jig hogshead jolly boat barque driver. Arr rope's end dead men tell no tales fluke clap of thunder. Reef landlubber or just lubber to go on account jolly boat mutiny. Galleon topsail heave down wench hardtack. Cog heave down gangway skysail sutler. Gangway squiffy scallywag me scourge of the seven seas. Heave to crimp mizzenmast jib topgallant. No prey, no pay draught boom Admiral of the Black lugsail.

Execution dock topgallant lugsail Shiver me timbers killick. Jack bilge broadside tender careen. Plunder chase guns hulk clipper broadside. Gibbet loaded to the gunwalls take a caulk bowsprit hearties. Take a caulk chandler measured fer yer chains bilge rat squiffy. Me ho rigging snow bilge. Draught Shiver me timbers case shot scourge of the seven seas reef sails. Snow Blimey bring a spring upon her cable killick barque. Spanker jib chandler Barbary Coast aft. Jib lookout measured fer yer chains gally skysail.</a>.</p>
</div>